.chipbadge-container{
		background-color: var(--lumo-contrast-10pct);
		border-radius: var(--lumo-font-size-s);
		margin: var(--lumo-space-xs);
		padding-left: var(--lumo-space-s);
}

.chipbadge-label{
font-size: var(--lumo-font-size-s);
}

.chipbadge-delte-btn{
font-size: var(--lumo-font-size-m);
}